@model IEnumerable<LccomponentesWeb.Models.SalesRecord>

@{
    ViewData["Title"] = "Produtos";
}

<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Registar novo Produto</a>
</p>

<table class="table table-striped table-hover">
    <thead class="sucess">
        <tr class="table-dark">
            <th>
                Nome
            </th>
            <th>
                Nome do Cliente
            </th>
            <th>
                Preço: 
            </th>
            <th>
                Forma de Pagamento
            </th>
        </tr>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
            }
    </tbody>
    </thead>
</table>